.btn-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  @media screen and (min-width: $ipad) {
    margin: 0;
    align-items: flex-start;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.btn-list li + li {
  margin-top: 10px;
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-left: 20px;
  }
}



