.content-wrapper {
  padding: 0 15px;
  width: 100%;
  @media screen and (min-width: $iphone11) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (min-width: $ipad) {
    padding-left: 40px;
    padding-right: 40px;
  }
}