.description {
  @media screen and (min-width: $desktop) {
    position: relative;
    overflow: hidden;
  }
}

.description__wrapper {
  padding-bottom: 34px;
  min-height: 100vh;
  width: 100%;
  
  @media screen and (min-width: $ipad) {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    
    &::before {
      position: absolute;
      content: '';
      width: 2186px;
      height: 2186px;
      top: -2038px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      background-color: $blue;
    }
  }
  
  @media screen and (min-width: $ipadpro) {
    padding-bottom: 0;
    
    &::before {
      width: 2914px;
      height: 2914px;
      top: -2726px;
      
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 0;
    width: 1170px;
    margin: 0 auto;
    position: static;
    &::before {
      width: 0;
      height: 0;
      top: 0;
    
    }
  }
}

.description__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 256px;
  background-image: url("/img/decoration/main-img.jpg");
  background-size: 100%;
  background-position: 0 -10px;
  align-items: center;
  @media screen and (min-width: $iphone11) {
    height: 452px;
  }
  @media screen and (min-width: $ipad) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: none;
    height: auto;
    order: 2;
    margin-right: 40px;
    width: 268px;
    overflow: visible;
    &::before,
    &::after {
      position: absolute;
      content: '';
      background: linear-gradient(170.02deg, #3F4785 0%, #5663F6 100%);
    }
    
    &::before {
      width: 96px;
      height: 236px;
      top: -30px;
      left: -30px;
      border-radius: 40px;
    }
    
    &::after {
      width: 205px;
      height: 205px;
      bottom: -50px;
      right: -50px;
      border-radius: 50%;
    }
  }
  @media screen and (min-width: $ipadpro) {
    width: 355px;
    margin-right: 100px;
  }
  @media screen and (min-width: $desktop) {
    width: 350px;
    margin-right: 0;
    align-items: flex-start;
    &::after {
      right: 0px;
    }
  }
  
  & picture {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 80px;
    width: 132px;
    transform: translateX(-50%);
    box-shadow: 0px 0px 40px rgba(86, 99, 246, 0.16);
    border-radius: 20px;
    border: 2px solid $white;
    @media screen and (min-width: $ipad) {
      position: static;
      transform: translateX(0);
      width: 100%;
      z-index: 3;
    }
    @media screen and (min-width: $ipadpro) {
      border-radius: 25px;
      width: 355px;
    }
    @media screen and (min-width: $desktop) {
      width: 268px;
    }
  }
  
  & img {
    width: 132px;
    @media screen and (min-width: $ipad) {
      width: 268px;
    }
    @media screen and (min-width: $ipadpro) {
      width: 355px;
    }
    @media screen and (min-width: $desktop) {
      width: 268px;
    }
  }
  

}


.description__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  @media screen and (min-width: $iphone11) {
    align-items: flex-start;
    padding: 0 30px;
  }
  @media screen and (min-width: $ipad) {
    order: 1;
    width: 370px;
  }
  @media screen and (min-width: $ipadpro) {
    padding-left: 40px;
    width: 410px;
    overflow-x: hidden;
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 367px;
      height: 367px;
      background: #F6B656;
      opacity: 0.1;
      filter: blur(100px);
    }
  
    &::before {
      top: 123px;
      right: -129px;
    }
  
    &::after {
      left: -136px;
      bottom: -163px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 580px;
    padding: 0;
  }
 
}

.description__title {
  @include reset;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $dark;
  @media screen and (min-width: $iphone11) {
    text-align: left;
  }
  @media screen and (min-width: $ipad) {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 50px;
  }
  
}

.description__text {
  @include reset;
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  @media screen and (min-width: $iphone11) {
    text-align: left;
  }
  @media screen and (min-width: $ipad) {
    margin-bottom: 100px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 24px;
    line-height: 32px;
  }
  
}


.description .btn-list {
  @media screen and (min-width: $iphone11) {
    padding-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 0;
  }
}

