.features {
  width: 100%;
  min-height: 736px;
  @media screen and (min-width: $ipad) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.features .section__title {
  margin-bottom: 0;
  @media screen and (min-width: $ipad) {
    text-align: left;
    margin-bottom: 40px;
  }
  
}

.features__content {
  @media screen and (min-width: $ipad) {
    width: 395px;
    margin-left: 40px;
  }
  @media screen and (min-width: $ipadpro) {
    margin-left: 120px;
  }
  @media screen and (min-width: $desktop) {
    width: 960px;
    margin: 0 auto;
    
  }
}

.features .slider__list {
  @media screen and (min-width: $ipad) {
    flex-direction: column;
  }
}


.features__list-container {
  @media screen and (min-width: $ipad) {
    overflow: visible;
  }
}

.features__list {
  @include reset-list;
  
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $ipad) {
    overflow: visible;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  margin-bottom: 20px;
  padding: 30px;
  overflow-x: hidden;
  @media screen and (min-width: $ipad) {
    overflow-x: visible;
    align-items: flex-start;
    padding: 0;
  }
}

.features__item label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:active {
    background: none;
  }
  @media screen and (min-width: $ipad) {
    align-items: flex-start;
  }
}

.features__item img {
  width: 150px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 40px rgba(86, 99, 246, 0.16);
  border-radius: 24px;
  border: 2px solid $white;
  @media screen and (min-width: $ipad) {
    display: none;
    position: absolute;
    top: -80px;
    transform: translate(0);
    left: 420px;
    width: 268px;
    margin-bottom: 0;
    
  }
  @media screen and (min-width: $ipadpro) {
    left: 514px;
  }
  @media screen and (min-width: $desktop) {
    left: auto;
    right: 0;
  }
}

.features__item span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media screen and (min-width: $ipad) {
    text-align: left;
    align-items: flex-start;
  }
}

.features__item span br {
  @media screen and (min-width: 768px) {
    display: none;
  }
  
}

.features .slider__controls {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 28px;
  @media screen and (min-width: $ipad) {
    display: none;
  }
}

.features .slider__radio-indicator {
  border: 2px solid $light-blue;
}

.features__item input[type=radio]:checked {
  @media screen and (min-width: $ipad) {
    & ~ span {
      color: $blue
    }
  
    & ~ img {
      display: block;
    }
  }
  
}

.features .btn-list {
  justify-content: center;
  @media screen and (min-width: $ipad) {
    justify-content: flex-start;
    margin-top: 60px;
  }
  
}