.footer {
  padding: 60px 15px;
  background-color: $light-grey;
  border-top: 1px solid rgba($dark, 0.1);
  @media screen and (min-width: $ipad) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px;
  }
  @media screen and (min-width: $desktop) {
    padding: 30px calc((100% - 1170px) / 2);
    margin: 0 auto;
  }
}

.footer__legal {
  @include reset;
  margin-bottom: 44px;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  @media screen and (min-width: $ipad) {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__docs {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  @media screen and (min-width: $ipad) {
    text-align: right;
  }
}

.footer__link {
  color: $dark70;
}

