.how-it-works {
  position: relative;
  background-color: #3F4785;
  background-image:  url("/img/decoration/how-it-works/house.svg"), linear-gradient(170.02deg, #3F4785 0%, #5663F6 100%);
  background-repeat: no-repeat;
  background-position: bottom;
  color: $white;
  overflow-x: hidden;
  @media screen and (min-width: $ipad) {
    color: $dark;
  }
  
  @media screen and (min-width: $ipadpro) {
    background-size: 780px, 100%;
    background-position: bottom right;
  }
  @media screen and (min-width: $desktop) {
    background-position: left 200px bottom, left bottom;
    background-size: 570px, 100%;
  }
}

//balloon
.how-it-works::before {
  position: absolute;
  content: '';
  bottom: 120px;
  left: 0;
  width: 100%;
  height: 120px;
  background-image: url("/img/decoration/how-it-works/cloud.svg");
  background-repeat: no-repeat;
  animation: clouds 5s linear both alternate infinite;
  @media screen and (min-width: $ipad) {
    background-repeat: repeat-x;
  }
  @media screen and (min-width: $ipadpro) {
    top: 80px;
    left: auto;
    right: 40px;
    width: 550px;
    background-size: 470px;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $desktop) {
    top: 348px;
    left: 208px;
  }
}
.how-it-works::after {
  position: absolute;
  content: '';
  bottom: 70px;
  left: 80px;
  width: 100%;
  height: 120px;
  background-image: url("/img/decoration/how-it-works/ballon.svg");
  background-repeat: no-repeat;
  animation: balloon 2s ease-in-out both alternate infinite;
  @media screen and (min-width: $ipadpro) {
    top: 260px;
    left: auto;
    right: 108px;
    width: 70px;
    background-size: 70px;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $desktop) {
    top: auto;
    bottom: 185px;
    left: 450px;
  }
}

.how-it-works.section {
  padding-bottom: 262px;
  @media screen and (min-width: $ipadpro) {
    padding-bottom: 65px;
    padding-top: 80px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 80px;
  }
}

.how-it-works .content-wrapper {
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
}

.how-it-works__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  & p {
    display: none;
    color: rgba($white, 0.7);
  }
  @media screen and (min-width: $desktop) {
    width: 340px;
    
    & p {
      display: block;
    }
  }
}

.how-it-works .section__title {
  color: $white;
  @media screen and (min-width: $ipadpro) {
    text-align: left;
  }
}

.how-it-works__step-list {
  @include reset-list;
  padding-left: 15px;
  @media screen and (min-width: $ipad) {
    background-color: $white;
    border-radius: 12px;
    padding: 40px;
    margin: 0 auto;
    max-width: 588px;
  }
  @media screen and (min-width: $ipadpro) {
    max-width: 570px;
    margin: 0;
  }
}

.how-it-works__step {
  position: relative;
  padding: 16px 16px 16px 30px;
  border: 1px solid rgba($white, 0.5);
  border-radius: 12px;
  
  @media screen and (min-width: $ipad) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 0;
    padding-left: 64px;
    min-height: 40px;
  }

  & + .how-it-works__step {
    margin-top: 20px;
    @media screen and (min-width: $ipad) {
      margin-top: 32px;
    }
  }

  &::before {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    content: '';
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $white;
    color: $blue;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    @media screen and (min-width: $ipad) {
      
      width: 40px;
      height: 40px;
      left: 0;
      background-color: $blue;
      color: $white;
      font-weight: bold;
      font-size: 20px;
      line-height: 18px;
    }
  }

  &:nth-child(1)::before {
    content: '1';
  }
  &:nth-child(2)::before {
    content: '2';
  }
  &:nth-child(3)::before {
    content: '3';
  }
  &:nth-child(4)::before {
    content: '4';
  }
  &:nth-child(5)::before {
    content: '5';
  }
  &:nth-child(6)::before {
    content: '6';
  }
}

.how-it-works__step--accent {
  @media screen and (min-width: $ipad) {
    color: $blue;
  }
  
}


.how-it-works__step h3 {
  @include reset;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  @media screen and (min-width: $ipad) {
    font-size: 18px;
    line-height: 20px;
  }
}


.how-it-works__step p {
  @include reset;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgba($white, 0.7);
  @media screen and (min-width: $ipad) {
    color: $dark70;
  }
  
}

