.landlord {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $light-grey;
  @media screen and (min-width: $ipadpro) {
    padding-left: calc((100% - 960px) / 2);
    align-items: flex-start;
  }
}

.landlord .section__title {
  margin-bottom: 12px;
  @media screen and (min-width: $ipadpro) {
    text-align: left;
  }
}

.landlord p {
  @include reset;
  margin-bottom: 40px;
  text-align: center;
  @media screen and (min-width: $ipadpro) {
    text-align: left;
  }
}



