.reviews {
  background-color: $light-grey;
}

.reviews .section__title {
  margin-bottom: 20px;
  @media screen and (min-width: $ipadpro) {
    margin-bottom: 30px;
  }
  & br {
    display: none;
    @media screen and (min-width: $ipad) {
      display: inline;
    }
  }
}


.reviews__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 10px 0;
  margin: 0 auto;
  max-width: 960px;
  @media screen and (min-width: $ipad) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow: visible;
  }
  
  &::after,
  &::before {
    display: block;
    content: '';
    width: 15px;
    flex-shrink: 0;
    @media screen and (min-width: $iphone11) {
      width: 30px;
    }
    @media screen and (min-width: $ipad) {
      display: none;
    }
  }
}

.review {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(86, 99, 246, 0.16);
  background: #FFFFFF;
  flex-shrink: 0;
  width: calc(100% - 40px);
  
  @media screen and (min-width: $iphone11) {
    width: calc(100% - 60px);
  }
  
  @media screen and (min-width: $ipad) {
    width: 100%;
    margin-bottom: 0;
  }
  
  @media screen and (min-width: $ipadpro) {
  
  }
  
  
  & + .review {
    margin-left: 12px;
    @media screen and (min-width: $ipad) {
      margin-left: 0;
    }
    
  }
  
  & p {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
    color: $dark;
  }
}

.review__info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 12px;
  color: $dark;
}

.review__rating-and-name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  padding-left: 30px;
  &::before {
    position: absolute;
    content: '';
    top: -3px;
    left: -4px;
    width: 30px;
    height: 30px;
    background-image: url("/img/decoration/sprite.svg");
    background-position: -210px 0;
  }
}

.review__rating {
  padding-top: 5px;
  margin-right: 12px;
  min-height: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $dark;
}

.review__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $dark;
}

.review__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
