.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $ipadpro) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section__title {
  @include reset;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: $dark;
  @media screen and (min-width: $ipad) {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
  }
  
}