.slider {
  position: relative;
}

.slider__list-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.slider__list,
.slider__controls {
  @include reset-list;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider__list {
  position: relative;
  transition: left;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  left: 0;
  flex-shrink: 0;
}

.slider__list li {
  width: 100%;
}

.slider__controls {
  position: absolute;
  left: 12px;
  bottom: 8px;

  & li + li {
    margin-left: 0px;
  }
}

.slider__controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}


.slider__radio-indicator {
  display: flex;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: $white;
}

input[type=radio]:checked ~ .slider__radio-indicator {
  width: 14px;
  height: 14px;
  background-color: $blue;
  border: 2px solid $white;
}