.support {
  @media screen and (min-width: $ipad) {
    background-color: $light-grey;
  }
  
  &.section {
    @media screen and (min-width: $ipad) {
      padding: 40px;
    }
  
    @media screen and (min-width: $ipadpro) {
      padding: 40px 120px;
    }
    
  }
}

.support .section__title {
  @media screen and (min-width: $ipad) {
    margin-bottom: 20px;
  }
}

.support__list {
  @include reset-list;
  @media screen and (min-width: $ipad) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  & li {
    width: 100%;
    flex-shrink: 1;
  }
  
  & li + li {
    margin-top: 4px;
    @media screen and (min-width: $ipad) {
      margin-top: 0;
      margin-left: 20px;
    }
  }
  
}



.support__btn {
  position: relative;
  display: flex;
  padding: 15px 12px 15px 54px;
  height: 54px;
  background: rgba(86, 99, 246, 0.05);
  border-radius: 4px;
  color: $dark;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  @media screen and (min-width: $ipad) {
    background-color: $white;
  }
  
  &:focus,
  &:hover {
    text-decoration: none;
    color: $blue;
  }
  
  &::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    top: 15px;
    left: 12px;
    background-image: url("/img/decoration/sprite.svg");
    background-repeat: no-repeat;
  }
}

.support__btn--phone::before {
  background-position: -105px 0;
}

.support__btn--whatsapp::before {
  background-position: -140px 0;
}

.support__btn--email::before {
  background-position: -175px 0;
}