@keyframes clouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}

@keyframes balloon {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 5px;
  }
}

@keyframes open-navigation {
  0% {
    display: none;
    transform: translateX(110%);
  }
  1% {
    display: flex;
    transform: translateX(110%);
  }
  100% {
    display: flex;
    transform: translateX(0);
  }
}

@keyframes close-navigation {
  0% {
    display: flex;
    transform: translateX(0);
  }
  99% {
    display: flex;
    transform: translateX(110%);
  }
  100% {
    display: none;
    transform: translateX(110%);
  }
}