* {
  box-sizing: inherit;
}

body {
  @include reset();
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: $dark;
}

img {
  display: block;
  height: auto;
}

a,
.link {
  display: inline;
  cursor: pointer;
  font: inherit;
  @include reset;
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: $blue;
  text-decoration: none;
  transition-property: color, box-shadow, fill, stroke;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  &:hover,
  &:focus {
    text-decoration: underline;
    color: darken($blue, 10%);
    border: none;
    outline: none;
  }
}

.dn {
  display: none;
}

