
@mixin reset() {
  margin: 0;
  padding: 0;
}

@mixin reset-list() {
  @include reset;
  list-style: none;
}

$dark: #28282A;
$dark70: rgba(#28282A, 0.7);
$white: #FFFFFF;
$blue: #5663F6;
$light-grey: #F6F6F8;
$light-blue: #E8EAFF;



$desktop: 1170px;
$ipadpro: 1024px;
$ipad: 750px;
$iphone11: 375px;
$iphoneSE: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
